In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# loading Train and Test Datasets

In [8]:
data1=pd.read_csv('Downloads/train.csv')

ABOUT TRAIN DATASET

In [9]:
data1.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [10]:
data1.columns

Index(['customer_id', 'name', 'age', 'gender', 'owns_car', 'owns_house',
       'no_of_children', 'net_yearly_income', 'no_of_days_employed',
       'occupation_type', 'total_family_members', 'migrant_worker',
       'yearly_debt_payments', 'credit_limit', 'credit_limit_used(%)',
       'credit_score', 'prev_defaults', 'default_in_last_6months',
       'credit_card_default'],
      dtype='object')

In [11]:
data1.shape

(45528, 19)

In [12]:
data1.nunique()

customer_id                45528
name                        4010
age                           33
gender                         3
owns_car                       2
owns_house                     2
no_of_children                10
net_yearly_income          45502
no_of_days_employed         7874
occupation_type               19
total_family_members          10
migrant_worker                 2
yearly_debt_payments       45251
credit_limit               45371
credit_limit_used(%)         100
credit_score                 450
prev_defaults                  3
default_in_last_6months        2
credit_card_default            2
dtype: int64

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45528 entries, 0 to 45527
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              45528 non-null  object
 1   name                     45528 non-null  object
 2   age                      45528 non-null  int64
 3   gender                   45528 non-null  object
 4   owns_car                 44981 non-null  object
 5   owns_house               45528 non-null  object
 6   no_of_children           44754 non-null  float64
 7   net_yearly_income        45528 non-null  float64
 8   no_of_days_employed      45065 non-null  float64
 9   occupation_type          45528 non-null  object
 10  total_family_members     45445 non-null  float64
 11  migrant_worker           45441 non-null  float64
 12  yearly_debt_payments     45433 non-null  float64
 13  credit_limit             45528 non-null  float64
 14  credit_limit_used(%)     45528 non-null  int64
 15  credit_score             45520 non-null  float64
 16  prev_defaults            45528 non-null  int64
 17  default_in_last_6months  45528 non-null  int64
 18  credit_card_default      45528 non-null  int64
dtypes: float64(8), int64(5), object(6)
memory usage: 6.6+ MB

In [15]:
data1['age'].unique()

array([46, 29, 37, 39, 38, 40, 32, 52, 43, 24, 41, 34, 50, 36, 42, 23, 27,
       26, 30, 35, 48, 53, 47, 28, 33, 49, 51, 55, 54, 25, 31, 44, 45],
      dtype=int64)

In [16]:
data1['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [17]:
data1['owns_car'].unique()

array(['N', 'Y', nan], dtype=object)

In [18]:
data1['owns_house'].unique()

array(['Y', 'N'], dtype=object)

In [19]:
data1['no_of_children'].unique()

array([ 0.,  1.,  2., nan,  3.,  4.,  5.,  6.,  7.,  8.,  9.])

In [20]:
data1['occupation_type'].unique()

array(['Unknown', 'Laborers', 'Core staff', 'Accountants',
       'High skill tech staff', 'Sales staff', 'Managers', 'Drivers',
       'Medicine staff', 'Cleaning staff', 'HR staff', 'Security staff',
       'Cooking staff', 'Waiters/barmen staff', 'Low-skill Laborers',
       'Private service staff', 'Secretaries', 'Realty agents',
       'IT staff'], dtype=object)

In [21]:
data1['total_family_members'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6., nan,  7.,  8.,  9., 10.])

In [22]:
data1['migrant_worker'].unique()

array([ 1.,  0., nan])

In [23]:
data1['credit_limit_used(%)'].unique()

array([73, 52, 43, 20, 75, 19, 42, 91, 14, 58, 41, 72, 40, 63, 77, 87, 84,
       97, 74, 69, 83, 50, 28, 49, 98, 36, 99, 23,  3,  8, 30, 10, 61, 32,
       55, 22, 90, 71,  5, 18, 76, 88, 47, 94, 29, 95, 37, 56, 92, 13, 79,
       81, 16,  9, 78, 15, 39, 62, 35, 67, 17, 60, 66, 48, 44, 57, 25, 27,
       53, 45, 21, 24, 65, 26,  4, 54, 85, 12, 51, 64, 89,  0,  1,  2, 34,
       31, 33,  6, 93, 46, 86, 59, 70,  7, 68, 82, 96, 38, 11, 80],
      dtype=int64)

In [24]:
data1['credit_score'].unique()

array([544., 857., 650., 754., 927., 937., 733., 906., 783., 666., 781.,
       889., 643., 909., 874., 763., 582., 699., 753., 710., 651., 893.,
       519., 895., 801., 880., 943., 795., 886., 832., 823., 766., 904.,
       919., 922., 673., 738., 684., 851., 695., 902., 724., 931., 811.,
       848., 737., 717., 891., 814., 723., 800., 715., 692., 947., 912.,
       735., 782., 843., 900., 532., 883., 713., 679., 934., 797., 730.,
       863., 949., 702., 867., 688., 774., 923., 676., 876., 703., 667.,
       620., 926., 835., 608., 736., 655., 808., 905., 948., 658., 731.,
       825., 677., 681., 682., 946., 672., 864., 833., 815., 828., 700.,
       894., 698., 890., 793., 689., 660., 802., 810., 853., 789., 777.,
       752., 870., 761., 701., 719., 628., 785., 750., 525., 872., 640.,
       856., 888., 792., 760., 865., 696., 824., 709., 740., 668., 846.,
       929., 786., 859., 728., 917., 944., 674., 915., 665., 840., 512.,
       892., 546., 942., 794., 898., 751., 742., 718., 881., 819., 664.,
       714., 693., 818., 791., 726., 829., 911., 854., 712., 839., 897.,
       925., 745., 662., 871., 716., 727., 928., 697., 796., 657., 686.,
       720., 747., 842., 901., 930., 873., 705., 560., 711., 816., 809.,
       678., 935., 758., 513., 861., 887., 607., 875., 553., 685., 523.,
       938., 597., 756., 899., 694., 903., 817., 862., 821., 827., 550.,
       771., 744., 755., 805., 503., 617., 908., 882., 670., 877., 884.,
       940., 844., 858., 704., 826., 632., 659., 914., 778., 706., 841.,
       757., 534., 924., 921., 569., 831., 762., 836., 806., 630., 834.,
       798., 613., 855., 612., 691., 725., 910., 661., 852., 652., 813.,
       741., 784., 879., 830., 656., 707., 822., 885., 776., 837., 508.,
       687., 765., 807., 820., 775., 749., 769., 759., 645., 788., 770.,
       772., 579., 578., 878., 566., 869., 932., 671., 527., 945., 746.,
       618., 907., 564., 896., 941., 799., 913., 567., 748., 773., 838.,
       767., 780., 779., 572., 653., 669., 804., 868., 516., 596., 522.,
       663., 639., 576., 622., 936., 636., 860., 505., 850., 675., 708.,
       787., 654., 690., 916., 633., 920., 739., 734., 764., 743., 732.,
       933., 501., 803., 605., 621., 511., 812., 849., 648., 683., 603.,
       533., 587., 586., 939., 866., 845., 847., 509., 598., 580., 729.,
       722., 540., 577., 517., 790., 545., 536., 574., 768., 918., 557.,
       528., 721., 631., 547., 646., 559., 593., 558., 581., 561., 680.,
       568., 529., 543., 541., 614., 616., 507., 634., 583., 535., 637.,
       638., 565., 592., 563., 575., 623.,  nan, 537., 552., 647., 585.,
       626., 584., 600., 625., 610., 642., 571., 627., 604., 649., 619.,
       538., 562., 599., 531., 641., 526., 551., 506., 504., 524., 514.,
       590., 601., 502., 606., 602., 611., 549., 609., 615., 595., 591.,
       521., 539., 573., 520., 542., 515., 588., 624., 635., 548., 556.,
       510., 530., 518., 570., 554., 589., 500., 555., 629., 644., 594.])

In [25]:
data1['prev_defaults'].unique()

array([2, 0, 1], dtype=int64)

In [26]:
data1['default_in_last_6months'].unique()

array([1, 0], dtype=int64)

In [27]:
data1['credit_card_default'].unique()

array([1, 0], dtype=int64)

In [28]:
data1.describe()

,age,no_of_children,net_yearly_income,no_of_days_employed,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
count,45528.000000,44754.000000,4.552800e+04,45065.000000,45445.000000,45441.000000,45433.000000,4.552800e+04,45528.00000,45520.000000,45528.000000,45528.000000,45528.000000
mean,38.993411,0.420655,2.006556e+05,67609.289293,2.158081,0.179111,31796.965311,4.354842e+04,52.23502,782.791257,0.060710,0.050540,0.081203
std,9.543990,0.724097,6.690740e+05,139323.524434,0.911572,0.383450,17269.727234,1.487847e+05,29.37691,100.619746,0.264629,0.219059,0.273149
min,23.000000,0.000000,2.717061e+04,2.000000,1.000000,0.000000,2237.470000,4.003140e+03,0.00000,500.000000,0.000000,0.000000,0.000000
25%,31.000000,0.000000,1.263458e+05,936.000000,2.000000,0.000000,19231.140000,2.397381e+04,27.00000,704.000000,0.000000,0.000000,0.000000
50%,39.000000,0.000000,1.717149e+05,2224.000000,2.000000,0.000000,29081.650000,3.568804e+04,54.00000,786.000000,0.000000,0.000000,0.000000
75%,47.000000,1.000000,2.406038e+05,5817.000000,3.000000,0.000000,40561.150000,5.343576e+04,78.00000,867.000000,0.000000,0.000000,0.000000
max,55.000000,9.000000,1.407590e+08,365252.000000,10.000000,1.000000,328112.860000,3.112997e+07,99.00000,949.000000,2.000000,1.000000,1.000000

# Data Preprocessing

# Filling Missing values in Train dataset

In [29]:
data1.isna().sum()

customer_id                  0
name                         0
age                          0
gender                       0
owns_car                   547
owns_house                   0
no_of_children             774
net_yearly_income            0
no_of_days_employed        463
occupation_type              0
total_family_members        83
migrant_worker              87
yearly_debt_payments        95
credit_limit                 0
credit_limit_used(%)         0
credit_score                 8
prev_defaults                0
default_in_last_6months      0
credit_card_default          0
dtype: int64

In [30]:
data1['owns_car'].mode()

0    N
dtype: object

In [32]:
data1['owns_car']=data1['owns_car'].fillna("N")

In [34]:
data1['no_of_children']=data1['no_of_children'].fillna(data1['no_of_children'].mean())

In [35]:
data1['no_of_days_employed']=data1['no_of_days_employed'].fillna(data1['no_of_days_employed'].mean())

In [36]:
data1['total_family_members']=data1['total_family_members'].fillna(data1['total_family_members'].mean())

In [37]:
data1['migrant_worker'].mode()

0    0.0
dtype: float64

In [38]:
data1['migrant_worker']=data1['migrant_worker'].fillna(0.0)

In [39]:
data1['yearly_debt_payments']=data1['yearly_debt_payments'].fillna(data1['yearly_debt_payments'].mean())

In [40]:
data1['credit_score']=data1['credit_score'].fillna(data1['credit_score'].mean())

In [41]:
data1.isna().sum()

customer_id                0
name                       0
age                        0
gender                     0
owns_car                   0
owns_house                 0
no_of_children             0
net_yearly_income          0
no_of_days_employed        0
occupation_type            0
total_family_members       0
migrant_worker             0
yearly_debt_payments       0
credit_limit               0
credit_limit_used(%)       0
credit_score               0
prev_defaults              0
default_in_last_6months    0
credit_card_default        0
dtype: int64

# FEATURE REDUCTION

In [42]:
data1.drop(['customer_id'],axis=1,inplace=True)

In [48]:
data1.drop(['name'],axis=1,inplace=True)

# Splitting of train data into feature and target columns

In [49]:
X=data1.drop(['credit_card_default'],axis=1)
X.head()

,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1
1,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0
2,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0
3,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0
4,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0

In [50]:
y=data1['credit_card_default']

# Encoding of train dataset

In [51]:
X.columns

Index(['age', 'gender', 'owns_car', 'owns_house', 'no_of_children',
       'net_yearly_income', 'no_of_days_employed', 'occupation_type',
       'total_family_members', 'migrant_worker', 'yearly_debt_payments',
       'credit_limit', 'credit_limit_used(%)', 'credit_score', 'prev_defaults',
       'default_in_last_6months'],
      dtype='object')

# Label Encoding

In [52]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [53]:
X['occupation_type']=lb.fit_transform(X['occupation_type'])

# One Hot Encoding

In [55]:
X=pd.get_dummies(X)

In [56]:
X.dtypes

age                          int64
no_of_children             float64
net_yearly_income          float64
no_of_days_employed        float64
occupation_type              int32
total_family_members       float64
migrant_worker             float64
yearly_debt_payments       float64
credit_limit               float64
credit_limit_used(%)         int64
credit_score               float64
prev_defaults                int64
default_in_last_6months      int64
gender_F                     uint8
gender_M                     uint8
gender_XNA                   uint8
owns_car_N                   uint8
owns_car_Y                   uint8
owns_house_N                 uint8
owns_house_Y                 uint8
dtype: object

# Splitting of X into train and test sets for modelling

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.25)

In [58]:
X_test.shape

(11382, 20)

In [59]:
X_test.columns

Index(['age', 'no_of_children', 'net_yearly_income', 'no_of_days_employed',
       'occupation_type', 'total_family_members', 'migrant_worker',
       'yearly_debt_payments', 'credit_limit', 'credit_limit_used(%)',
       'credit_score', 'prev_defaults', 'default_in_last_6months', 'gender_F',
       'gender_M', 'gender_XNA', 'owns_car_N', 'owns_car_Y', 'owns_house_N',
       'owns_house_Y'],
      dtype='object')

# Scaling

In [60]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit_transform(X_train)

array([[ 0.10536983, -0.58774497,  0.3003135 , ...,  1.40512997,
         1.50906656, -1.50906656],
       [ 0.10536983, -0.58774497, -0.0141605 , ..., -0.71167794,
        -0.66266129,  0.66266129],
       [ 0.62899863,  2.20083207, -0.16885886, ..., -0.71167794,
        -0.66266129,  0.66266129],
       ...,
       [ 0.21009559, -0.58774497,  0.14717592, ..., -0.71167794,
        -0.66266129,  0.66266129],
       [-1.25606506, -0.58774497,  0.16056371, ..., -0.71167794,
        -0.66266129,  0.66266129],
       [-1.25606506, -0.58774497, -0.03480257, ..., -0.71167794,
        -0.66266129,  0.66266129]])

# Logistic Regression

In [61]:
import warnings
warnings.filterwarnings('ignore')

In [62]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [63]:
y_pred1=lr.predict(X_test)

In [64]:
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score,recall_score

In [91]:
a1=accuracy_score(y_test,y_pred1)
f1=f1_score(y_test,y_pred1,average='macro')
r1=recall_score(y_test,y_pred1,average='macro')

In [92]:
d1={'metric':['Accuracy','F1 score','Recall score'],'values':[a1,f1,r1]}

In [93]:
pd.DataFrame(d1)

         metric    values
0      Accuracy  0.956950
1      F1 score  0.849131
2  Recall score  0.821630

In [94]:
confusion_matrix(y_test,y_pred1)

array([[10257,   161],
       [  329,   635]], dtype=int64)

In [117]:
#Evaluation Metric
import sklearn.metrics as metrics
Score1= 100*(metrics.f1_score(y_test,y_pred1,average="macro"))
Score1

84.91310096778102

# Decision Tree

In [118]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [119]:
y_pred2=dt.predict(X_test)

In [120]:
a2=accuracy_score(y_test,y_pred2)
f2=f1_score(y_test,y_pred2,average='macro')
r2=recall_score(y_test,y_pred2,average='macro')

In [121]:
d2={'metric':['Accuracy','F1 score','Recall score'],'values':[a2,f2,r2]}

In [122]:
pd.DataFrame(d2)

         metric    values
0      Accuracy  0.973643
1      F1 score  0.914920
2  Recall score  0.914529

In [123]:
confusion_matrix(y_test,y_pred2)

array([[10269,   149],
       [  151,   813]], dtype=int64)

In [124]:
#Evaluation Metric
import sklearn.metrics as metrics
Score2= 100*(metrics.f1_score(y_test,y_pred2,average="macro"))
Score2

91.4919992501119

# Random Forest Classifier

In [125]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [126]:
y_pred3=rf.predict(X_test)

In [127]:
a3=accuracy_score(y_test,y_pred3)
f3=f1_score(y_test,y_pred3,average='macro')
r3=recall_score(y_test,y_pred3,average='macro')

In [128]:
d3={'metric':['Accuracy','F1 score','Recall score'],'values':[a3,f3,r3]}

In [129]:
pd.DataFrame(d3)

         metric    values
0      Accuracy  0.980320
1      F1 score  0.929861
2  Recall score  0.889466

In [130]:
confusion_matrix(y_test,y_pred3)

array([[10406,    12],
       [  212,   752]], dtype=int64)

In [131]:
#Evaluation Metric
import sklearn.metrics as metrics
Score3= 100*(metrics.f1_score(y_test,y_pred3,average="macro"))
Score3

92.98609790623482

# Gradient Boosting Classifier

In [132]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(X_train,y_train)

GradientBoostingClassifier()

In [133]:
y_pred4=gb.predict(X_test)

In [134]:
a4=accuracy_score(y_test,y_pred4)
f4=f1_score(y_test,y_pred4,average='macro')
r4=recall_score(y_test,y_pred4,average='macro')

In [135]:
d4={'metric':['Accuracy','F1 score','Recall score'],'values':[a4,f4,r4]}

In [136]:
pd.DataFrame(d4)

         metric    values
0      Accuracy  0.980320
1      F1 score  0.929183
2  Recall score  0.885229

In [137]:
#Evaluation Metric
import sklearn.metrics as metrics
Score4= 100*(metrics.f1_score(y_test,y_pred4,average="macro"))
Score4

92.91832697541327

From this it is clear that the best algorithm for fitting is Random Forest Classifier since accuracy of this algorithm is higher compared to others.

# To predict in Test Dataset using the above algorithm

In [138]:
data=pd.read_csv('Downloads/test.csv')
data.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1

In [139]:
data2=data
data2.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1

In [140]:
data2.shape

(11383, 18)

In [141]:
data2.isna().sum()

customer_id                  0
name                         0
age                          0
gender                       0
owns_car                   132
owns_house                   0
no_of_children             190
net_yearly_income            0
no_of_days_employed        105
occupation_type              0
total_family_members        31
migrant_worker              26
yearly_debt_payments        22
credit_limit                 0
credit_limit_used(%)         0
credit_score                 3
prev_defaults                0
default_in_last_6months      0
dtype: int64

Filling missing values

In [143]:
data2['owns_car'].mode()

0    N
dtype: object

In [145]:
data2['owns_car']=data2['owns_car'].fillna('N')

In [146]:
data2['no_of_children'].mode()

0    0.0
dtype: float64

In [147]:
data2['no_of_children']=data2['no_of_children'].fillna(0.0)

In [148]:
data2['migrant_worker'].mode()

0    0.0
dtype: float64

In [149]:
data2['migrant_worker']=data2['migrant_worker'].fillna(0.0)

In [150]:
data2['no_of_days_employed']=data2['no_of_days_employed'].fillna(data2['no_of_days_employed'].mean())

In [151]:
data2['total_family_members']=data2['total_family_members'].fillna(data2['total_family_members'].mean())

In [152]:
data2['yearly_debt_payments']=data2['yearly_debt_payments'].fillna(data2['yearly_debt_payments'].mean())

In [153]:
data2['credit_score']=data2['credit_score'].fillna(data2['credit_score'].mean())

In [154]:
data2.isna().sum()

customer_id                0
name                       0
age                        0
gender                     0
owns_car                   0
owns_house                 0
no_of_children             0
net_yearly_income          0
no_of_days_employed        0
occupation_type            0
total_family_members       0
migrant_worker             0
yearly_debt_payments       0
credit_limit               0
credit_limit_used(%)       0
credit_score               0
prev_defaults              0
default_in_last_6months    0
dtype: int64

# Feature Reduction

In [155]:
data2.drop(['customer_id'],axis=1,inplace=True)

In [156]:
data2.drop(['name'],axis=1,inplace=True)

# encoding

In [158]:
data2['occupation_type']=lb.fit_transform(data2['occupation_type'])

In [160]:
data2.columns

Index(['age', 'gender', 'owns_car', 'owns_house', 'no_of_children',
       'net_yearly_income', 'no_of_days_employed', 'occupation_type',
       'total_family_members', 'migrant_worker', 'yearly_debt_payments',
       'credit_limit', 'credit_limit_used(%)', 'credit_score', 'prev_defaults',
       'default_in_last_6months'],
      dtype='object')

In [166]:
d=data2.copy()

In [168]:
d=pd.get_dummies(d)

In [169]:
d.dtypes

age                          int64
no_of_children             float64
net_yearly_income          float64
no_of_days_employed        float64
occupation_type              int32
total_family_members       float64
migrant_worker             float64
yearly_debt_payments       float64
credit_limit               float64
credit_limit_used(%)         int64
credit_score               float64
prev_defaults                int64
default_in_last_6months      int64
gender_F                     uint8
gender_M                     uint8
gender_XNA                   uint8
owns_car_N                   uint8
owns_car_Y                   uint8
owns_house_N                 uint8
owns_house_Y                 uint8
dtype: object

In [170]:
y_pred=rf.predict(d)

In [174]:
k={'CustomerID':data['CustomerID'],'credit_card_default':y_pred}

KeyError: 'CustomerID'

In [175]:
new_data=pd.DataFrame(k)

NameError: name 'k' is not defined

In [176]:
new_data.to_csv('submission.csv', header=False, index=False)

NameError: name 'new_data' is not defined